@model CV_ASPMVC_GROUP2.Models.Competence
@{
    ViewData["Title"] = "Index";
}

<h1>Alla dina inlagda kompetenser: </h1>



<h1>Vill du radera en kompetens?</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Competence" asp-action="Delete" method="post">

  
    <table class=" table table-light">
        <div class="form-group">
        <tr>
            <td>

                <label asp-for="Name"></label>:
                <input asp-for="Name" type="text" readonly="readonly" />
            </td>
        </tr>
        </div>

        <div class="form-group">
        <tr>
            <td>

                <label asp-for="Description"></label>:
                <textarea asp-for="Description" readonly="readonly" class="form-control" rows="3"></textarea>

            </td>
        </tr>
        </div>

      
        <tr>
            <td>
                <input type="submit" value="Radera" class="btn btn-danger" />
            </td>
        </tr>

        <a asp-action="ShowCv" asp-controller="Cv" >Tillbaka</a>
        
    </table>
    
</form>


        
            
   

