@model ChangePasswordViewModel

    <h2>Ändra lösenord</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action ="ChangePassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <br />
                <div class="form-group">
                    <label asp-for="CurrentPassword">Nuvarande lösenord</label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger">|</span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">Nytt lösenord</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger">|</span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Upprepa nytt lösenord</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger">|</span>
                </div>
                <button type="submit" class="btn btn-primary">Uppdatera</button>
                <br />
                <br />
                @if (TempData["SuccessMessage"] != null)
                {
                <div class="Success">
                    @TempData["SuccessMessage"]
                </div>
                }
                <br />
                @Html.ActionLink("Gå tillbaka till start", "Index", "Home")

            </form>
       
        </div>
    </div>




