@model IEnumerable<CV_ASPMVC_GROUP2.Models.User>


<table class="table">
    <thead>
        <tr>
            <th>
                Profilbild
            </th>
            <th>
                Användarnamn
            </th>
            <th>
                Cv
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.ProfilePicture" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
                </td>
                <td>
                    <a asp-controller="Profile" asp-action="Index" asp-route-userId="@item.Id">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </a>
                </td>
                <td>
                    @if (item.Cv != null && item.PrivateStatus == false)
                    {
                        <a asp-controller="Cv" asp-action="ShowCv" asp-route-id="@item.Cv.Id">
                            @Html.DisplayFor(modelItem => item.Cv.Description)
                        </a>
                    }
                    else if (item.Cv == null)
                    {
                        <span>No CV available</span>
                    }
                    else
                    {
                        <span>User's profile is private</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>