@model List<(Message message, string username)>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRPeZwLLXPT+fC6LZxyekk6E8x1MZQV5nDEbi3+fl" crossorigin="anonymous"></script>


<h2>Mottagna meddelanden</h2>

<table class="table">
    <thead>
        <tr>
            <th>Från</th>
            <th>Innehåll</th>
            <th>Skickat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (message, username) in Model)
        {
            <tr>
                <td>@username</td>
                <td>@message.Content</td>
                <td>@message.SentTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    @if (message.Read == null || message.Read == false)
                    {
                        <button class="mark-as-read-btn" data-message-id="@message.Id">Markera som läst</button>
                    }
                    else
                    {
                        message.Read = true;
                    }
                </td>
            </tr>
        }
       
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.mark-as-read-btn').on('click', function () {
            var button = $(this);
            var messageId = button.data('message-id');

            $.ajax({
                url: '/Message/MarkAsRead',
                method: 'POST',
                data: { messageId: messageId },
                success: function (response) {
                    var row = button.closest('tr'); 
                    row.addClass('read-message'); 
                    button.remove();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.0/signalr.min.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/MessagesHub") 
        .build();

    connection.start().then(function () {
        // Klienten är ansluten, gör något om det behövs
    }).catch(function (err) {
        console.error(err.toString());
    });

    connection.on("ReceiveUnreadMessageCount", function (unreadCount) {
        // Uppdatera antalet olästa meddelanden i användargränssnittet
        document.getElementById("unreadCount").innerText = unreadCount;
    });
</script>



