@model CvViewModel

<h1>Lägg till ett nytt cv</h1>

<form method="post" asp-action="Create">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="Description">Description:</label>
                <input type="text" asp-for="Description" class="form-control"/>
            </div>

        <div class="col-sm-4">
            <input type="File" asp-for="ImageFile" class="custom-file-input" />
            <label class="custom-file-label" for="customFile">Välj fil</label>
        </div>

            <div class="form-group">
                <label for="SelectedExperience">Tidigare erfarenheter:</label>
                <select asp-for="SelectedExperience" asp-items="new SelectList(Model.AvailableExperience, nameof(ExperienceViewModel.Id), nameof(ExperienceViewModel.Name), nameof(ExperienceViewModel.Description))" multiple class="form-control"></select> 
            </div>
        <td>
            <a asp-action="Create" asp-controller="Cv">Lägg till erfarenhet</a>
        </td>

        <div class="form-group">
            <label for="SelectedEducation">Tidigare Utbildningar:</label>
            <select asp-for="SelectedEducations" asp-items="new SelectList(Model.AvailableEducations, nameof(EducationViewModel.Id), nameof(EducationViewModel.Name), nameof(EducationViewModel.Description))" multiple class="form-control"></select> 
        </div>
        <td>
            <a asp-action="CreateEducation" asp-controller="Cv">Lägg till Utbildningar</a>
        </td>

        <div class="form-group">
            <label for="SelectedCompetence">Tidigare Kompetenser:</label>
            <select asp-for="SelectedCompetence" asp-items="new SelectList(Model.AvailableCompetence, nameof(CompetenceViewModel.Id), nameof(CompetenceViewModel.Name), nameof(CompetenceViewModel.Description))" multiple class="form-control"></select> 
        </div>
        <td>
            <a asp-action="CreateCompetence" asp-controller="Cv">Lägg till Kompetenser</a>
        </td>

        </div>
       @*  <br/>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Kompetenser </label>
            </div>
            <div class="col-sm-4">
                <input asp-for="CvCompetences" class="form-control" />
            </div>
        </div>
        <br />
 *@
    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Lägg till</button>
        </div>
        </div>

   
</form>