@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Account" asp-action="Logout">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Du är loggad in som @User.Identity.Name</h2>
        <input type="submit" value="Logga ut" />
    }
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="Login" asp-controller="Account">Logga in</a>
    }
</div>

<div class="text-center">
    
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" asp-controller="Project">Lägg till nytt projekt</a>
    }
</div>
