@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Account" asp-action="Logout">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Du är loggad in som @User.Identity.Name</h2>
        <input type="submit" value="Logga ut" />
    }
</form>

<div class="text-center">

    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="Login" asp-controller="Account">Logga in</a>
    }
</div>

<div class="text-center">
    
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Index" asp-controller="Project">Gå till projektsidan</a>
    }
</div>


<div class="text-center">

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="EditUser" asp-controller="Account">Redigera uppgifter</a>
    }
</div>




<div class="text-center>
    @if (ViewBag.LatestProject != null)
    {
        <p>Projekt: @ViewBag.LatestProject.ProjectName</p>
        <p>Beskrivning: @ViewBag.LatestProject.Description</p>
    }
    else
    {
        <p>Inga projekt tillgängliga för närvarande.</p>
    }
</div>