@model EditProjectViewModel



<h1>Skapa nytt Projekt</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="EditProject" asp-controller ="Project" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-sm-2">
            <label asp-for="Title"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Title" class="form-control" value ="@Model.Title"/>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Beskriving: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Description" class="form-control" value="@Model.Description" />
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-2">
            <label> Bild: </label>
        </div>
        <div class="col-sm-4">
            <input type="File" asp-for="ImageFile" value="@Model.ImageFile" class="custom-file-input"  />
            <label class="custom-file-label" for="customFile">Välj fil</label>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Redigera</button>
        </div>
    </div>

    <a asp-action="Index" asp-controller="Project">Tillbaka</a>


</form>
